{Label text='calendar.reminder.email.title'}: {$event.title}

{include file="ext/calendar/view/emails/parts-event-details-text.tmpl"}


{Label text='calendar.event.mail.showeventincalendarview'}:
{$eventlink}