========================================================================

{math equation="e - s" e=$event.date_end s=$event.date_start assign=duration}{math equation="d / 3600" d=$duration assign=duration}
{Label text='calendar.event.attr.timespan'}:	{formatRange dateStart=$event.date_start dateEnd=$event.date_end} {if $event.date_end-$event.date_start}({formatDuration seconds=$event.date_end-$event.date_start}){/if}
{Label text='core.global.title'}:	{$event.title|escape}
{Label text='calendar.event.attr.place'}:	{$event.place}

{Label text='calendar.event.mail.event.from'}:	{$personWrite.firstname} {$personWrite.lastname}{if $hideEmails != true} <{$personWrite.email}>{/if}
{if $personWrite.id !== $personSend.id}{Label text='calendar.event.mail.sentBy'}:	{$personSend.firstname} {$personSend.lastname}{if $hideEmails != true} <{$personSend.email}>{/if}{/if}
========================================================================

{html2text html=$event.description}

========================================================================

{Label text='calendar.event.attr.attendees'}:

{foreach $attendees as $personData}
*	{$personData.firstname} {$personData.lastname}
{/foreach}
========================================================================