<div id="event-{$source}-{$id}" class="{$classNames}" style="width:{$width}px">
	<div class="head">
		<div class="typeIcon"></div>

		{if $isPrivate}
			{if fn_isPersonID($id_person)}
				<div class="private"></div>
			{else}
				<div class="privateEvent"></div>
			{/if}
		{/if}

		{if $view === 'day' && $persons}
			<div class="assignedPersons">
				{foreach $persons as $person}
					{$person.shortname}
					{if !$smarty.foreach.default.last},{/if}
				{/foreach}:
			</div>
		{/if}

		<div class="title">
			{$title|escape}
		</div>

		{if date('ymd', $date_start) !== date('ymd', $date_end)}
			<div class="date">
				({$date_start|date_format:$DF.D2Mshort} - {$date_end|date_format:$DF.D2Mshort})
			</div>
		{/if}
	</div>
</div>