{html2text html=$comment.comment decodeEntity=true}

{Label text='comment.ext.mail.showcommentinprojectview'}:
{html2text html=$commentlink decodeEntity=true}

========================================================================

{$task.title}
------------------------------------------------------------------------
{html2text html=$task.description decodeEntity=true}

========================================================================