<li>
	<ul class="inactive">
		{foreach $tasks as $task}
			<li id="{$name}-task-{$task.id}" class="bcStatus{$task.status}">
				<div class="title" onclick="Todoyu.Ext.timetracking.Task.goToTask({$task.id_project}, {$task.id}, true)">
					<div class="taskNumber" title="{Label text='portal.ext.tasktree.header.tasknumber'}: {$task.id_project}.{$task.tasknumber}">
						{$task.id_project}.{$task.tasknumber}
					</div>
					<div class="taskTitle" title="{Label text='project.ext.project'}: {$task.projecttitle|escape} (ID: {$task.id_project}) / {Label text='project.task.task'}: {$task.title|escape}">
						<span class="project">{$task.projecttitle|escape}</span>
						<span class="task">{$task.title|escape}</span>
					</div>
					<div class="taskTime" title="{Label text='timetracking.ext.totalTrackedTime'}">
						{HourMinSec seconds=$task.trackedtime}
					</div>
				</div>
				{if $task.isTrackable}
					<div class="trackingButton">
						{Button onclick="Todoyu.Headlets.getHeadlet('todoyutimetrackingheadlettracking').startTask({$task.id})" class="startTracking" label="LLL:timetracking.ext.start" disable=true}
					</div>
				{/if}
			</li>
		{/foreach}
	</ul>
</li>