<span {if $track.editable}class="link" onclick="Todoyu.Ext.timetracking.Task.editTrack({$idTask}, {$track.id})"{/if}>
	<span class="icon"></span>
	<span class="date">{$track.date_track|date_format:$DF.D2M2Y2}</span>
	<span class="trackedTime{if $track.workload_chargeable} hasChargeableTime{/if}">{HourMinSec seconds=$track.workload_tracked}</span>
	<span class="chargeableTime">{if $track.workload_chargeable}{HourMinSec seconds=$track.workload_chargeable}{else}&nbsp;{/if}</span>
	<span class="name">{personLabel prefix="track_personowner" idRecord=$track.id id=$track.id_person_create}</span>
	<span class="comment">{$track.comment|escape}</span>
</span>