<ul id="profilemodules-list" class="naviList">
	{foreach $modules as $module}
		<li class="{$module.class}{if $module.name == $active} active{/if}">
			<a href="javascript:void(0)" onclick="Todoyu.Ext.profile.PanelWidget.ProfileModules.onClickModule('{$module.name}')">
				{Label text=$module.label}
			</a>
		</li>
	{/foreach}
</ul>