{extends "core/view/base.tmpl"}

{* left panel with widgets *}
{block name="panel"}
	{$panelWidgets}
{/block}

{block name="contentTabs"}
	{$tabHeads}
{/block}

{block name="contentBody"}
	{$activeTabContent}
{/block}