<div class="mainGrid month" id="calendarBody">
	<div id="gridContainer" class="monthMode">

		{* --------------------------- Days names (Sun-Sat / Mon-Sun) ------------------------- *}
		<table class="mv-daynames-table">
			<tbody>
				<tr>
					{* Day columns: Mo-So *}
					{foreach $dayColumns as $dayColumn}
						<th class="mv-dayname {cycle values="odd,even"}" title="{$dayColumn.title}">
							{$dayColumn.label}
						</th>
					{/foreach}
				</tr>
			</tbody>
		</table>

		<div id="mvEventContainer" class="mv-event-container contextmenucalendarbody">

		{foreach $eventsPerWeek as $weekDays}
			<div class="month-row">
				<table class="standardGrid">

					{* Day titles *}
					<tr>
						{foreach $weekDays as $dateKey=>$dayConfig}
							<td id="createEventAt-{$dayConfig.date|date_format:'%Y-%m-%d'}" title="{$dayConfig.title} {if $dayConfig.today}({Label text='calendar.ext.today'}){/if}" class="title{if $dayConfig.inCurrentMonth} inSelMonthTitle{/if}{if $dayConfig.today} ttoday{/if}">
								{* ------ Week number (only for mondays) ----- *}
								{if $dayConfig@first && isset($timestamps)}
									<span class="weekNumber" title="{$dayConfig.week}" onclick="Todoyu.Ext.calendar.showWeek('{$timestamps[$dayCounter]|date_format:'%Y-%m-%d'}')">
										{$dayConfig.week}
									</span>
								{/if}
								{* ------ Holiday Icon ----- *}
								{*
								{if !empty($holidays[$dayDateKey]) && sizeof($holidays[$dayDateKey])>0}
									<span id="holiday-{$timestamps[$dayCounter]}" class="holiday quickInfoHoliday"></span>
								{/if}
								*}
								{* ------- date ------- *}
								<span class="month-date" onclick="Todoyu.Ext.calendar.showDay('{$dayConfig.date|date_format:'%Y-%m-%d'}')">
									{$dayConfig.label}
								</span>
							</td>
						{/foreach}
					</tr>

					{* Day content *}
					<tr>
						{foreach $weekDays as $dateKey=>$dayConfig}
							<td id="createEventAt-{$dayConfig.date|date_format:'%Y-%m-%d'}" class="content{if $dayConfig.today} ctoday{/if} {if $dayConfig@first} first{/if}{if $dayConfig.inCurrentMonth} inSelMonthTitle{/if}">
								{foreach $dayConfig.events as $eventHtml}
									{$eventHtml}
								{/foreach}
							</td>
						{/foreach}
					</tr>

				</table>
			</div>
		{/foreach}

		</div>
	</div>
</div>

<script type="text/javascript">
	Todoyu.Ext.calendar.setTitle('{$title}');
</script>