<br />
{$headerTitle = implode(array(count($birthdayEvents), Label('calendar.event.eventslist.birthdaysWithinTheNextweeks')), ' ')}
{Header title=$headerTitle}
<div id="portalListBirthdays">
	{foreach $birthdayEvents as $birthday}
		<div class="event typeBirthday {cycle values="odd,even"}" title="{Label text='calendar.event.type.birthday'} {$birthday.person.firstname} {$birthday.person.lastname} ({$birthday.age} {Label text='calendar.ext.yearsold'})">
			<div class="type">&nbsp;</div>
			<div class="date">{$birthday.date|date_format:$DF.DlongD2MlongY4}</div>
			<div class="name">{personLabel prefix='birthdayperson' id=$birthday.person.id}</div>
			<div class="age">{$birthday.age} {Label text='calendar.ext.yearsold'}</div>
		</div>
	{/foreach}
</div>