<br />
{Header title=implode(array(count($holidayEvents), Label('calendar.event.eventslist.holidaysWithinTheNextweeks')), ' ')}
<div id="holidays">
	{foreach from=$holidayEvents item=holiday name=holidays}
		{$label = $holiday.title}
		{if $holiday.description}
			{$label .= cat(': ' $holiday.description)}
		{/if}
		<h3 class="holidaysList {if $smarty.foreach.holidays.last}last{/if} {cycle values="odd,even"}">
			<span class="first holidayDate hasIcon">{$holiday.date|date_format:$DF.DlongD2MlongY4}</span>
			<span class="holidayTitle" title="{$label|escape}">
				{$label|escape}
			</span>
			<span class="holidayWorkinghours">{Label text='calendar.ext.holiday.attr.workingtime'}: {$holiday.workingtime / 3600}{Label text='core.date.hrs'}</span>
		</h3>
	{/foreach}
</div>