<div class="main">
	<input type="text" title="{Label text='core.global.input.autocompleter'}" class="input textAC" id="{$htmlID}" value="{$valueLabel|escape}" />
	<div id="{$htmlID}-suggestions" class="acResultContainer"></div>
	<input id="{$htmlID}-value" type="hidden" name="{$fieldname}" value="{$inputValue}" />
</div>
<div class="extra">
	{block name="extra"}{/block}
</div>