{extends core/view/autocomplete-inline.tmpl}

{block name="extra"}

<ul id="{$htmlID}-itemlist" class="itemList">
	{foreach $selectedItems as $item}
		<li id="{$item.id}">{$item.label}<span class="remove"></span></li>
	{/foreach}
</ul>

{/block}