<button type="{$type|default:button}" {if isset($id)}id="{$id}"{/if} class="button {$class}" onclick="{$onclick}{if isset($disable) && $disable};this.disabled='disabled'{/if};this.blur()" title="{if isset($title) && $title}{Label text=$title}{else}{Label text=$label}{/if}" {if isset($disabled) && $disabled}disabled="disabled"{/if}{if isset($style) && $style} style="{$style}"{/if}>
	<span class="icon"></span>
	{if isset($label) && $label}<span class="label">{Label text=$label}</span>{/if}
</button>