<a id="{$id}-button" {foreach $buttonAttributes as $buttonAttributeName=>$buttonAttributeValue}{$buttonAttributeName}="{$buttonAttributeValue}" {/foreach}>&nbsp;</a>

{if isset($content)}
<ul id="{$id}-content" class="content " {if ! isset($open) or !$open}style="display:none"{/if}>
	{$content}
</ul>
{/if}
