{if isset($id)}
    
<!-- <ul id="{$id}-menu"> -->
	{foreach $items as $item}
		<li class="{$item.class}" id="menuItem-{$item.id}">
			<a class="{$name}-item-{$item.id}">{Label text=$item.label}</a>
		</li>
	{/foreach}
<!-- </ul> -->
    
{/if}