{if $noPaging || $page == 1 }
	<div class="paging-container" id="paging-{$config.name}">
{/if}

{if !empty($rows)}
	<table class="list {$config.name}Listing withMouseHover" id="paging-{$config.name}-table-{$page}" >
		{*-------------- column definitions used to control width of table columns ---------------*}
		<colgroup>
			{foreach $config.columns as $colName=>$label}
				<col class="{$colName}" />
			{/foreach}
		</colgroup>

	{*-------------- Column titles ---------------*}
		<thead>
			<tr class="headerLine">
				{foreach $config.columns as $colName=>$label}
					<th scope="col" class="{$colName} {if $smarty.foreach.default.last}last{/if}">{Label text=$label}&nbsp;</th>
				{/foreach}
			</tr>
		</thead>

	{*-------------- Rows ---------------*}
		<tbody>
		{foreach $rows as $row}
			<tr class="{cycle values="odd,even"}" id="{$config.name}-listingrow-{$row.id}">
				{foreach $config.columns as $colName=>$label}
                <!-- CCN {$colName} -->
					{$fieldClass = $colName|cat:'Class'}
					{if is_array($row.columns[$colName])}
						{$colContent= $row.columns[$colName].content}
						{$className	= $row.columns[$colName].classname}
						{if isset($row.columns[$colName].spanID)}{$spanID	= $row.columns[$colName].spanID}{else}{assign var="spanID" value=""}{/if}
						{if isset($row.columns[$colName].onClick)}{$onClick	= $row.columns[$colName].onClick}{else}{assign var="onClick" value=""}{/if}
					{else}
						{$colContent= $row.columns[$colName]}
						{$className	= ''}
						{$spanID	= ''}
						{$onClick	= ''}
					{/if}
					<td class="{$colName} {if isset($row[$fieldClass])}{$row[$fieldClass]}{/if}">
						<span {if isset($spanID)}id="{$spanID}"{/if} class="{$colName} {$className}" {if isset($colContent) && $colContent && $colName!='actions'}title="{$colContent|escape}"{/if} {if isset($onClick)}onclick="{$onClick}"{/if}>
							{if isset($colName) && $colName == 'actions'}
								{$colContent|strip_tags:true}
							{else}
								{$colContent|escape}
							{/if}
						</span>
					</td>
				{/foreach}
			</tr>
		{/foreach}

		</tbody>
	</table>
{else}
	{contentMessage label="core.global.listing.noItems"}
{/if}

	{*-------------- Listing show more entries option ---------------*}

{if !$noPaging && $page < $pages}
	<div id="extendlisting">
		<a onclick='Todoyu.Listing.more("{$name}", {$page}, {$listingParams})'>{Label text='core.global.showMore'}</a>
	</div>

	<script type="text/javascript">
	Todoyu.Listing.init('{$config.name}', '{$config.update}', {$config.size}, {$offset}, {$total});
	</script>
{/if}

{if $noPaging || $page == 1}
	</div> {* Close pading container *}
{/if}