<div id="navi-main">
	<ul id="navi-main-list" class="navilist">
{foreach from=$navigation item=entry name=navimain}
		<li class="item level1 item{$entry.key|ucfirst} bcl01{if isset($entry.active) and $entry.active} active bcl02{/if}{if $entry.submenu} hasSub{/if}{if $smarty.foreach.navimain.first} first{/if}{if $smarty.foreach.navimain.last} last{/if}">
			<a href="{$entry.href}"{if isset($entry.target)} target="{$entry.target}"{/if} {if isset($entry.desc)}title="{$entry.desc}"{/if}{if isset($entry.active) and $entry.active} class="active"{/if}>{$entry.label}</a>
			{if $entry.submenu}
			<ul id="navi-main-list-{$entry.key}" class="navilist">
				{foreach from=$entry.submenu item=sub name=navimainsub}
					<li class="item item{$sub.key|ucfirst}{if isset($sub.active) and $sub.active} active{/if}{if $smarty.foreach.navimainsub.first} first{/if} bcl02">
						<a href="{$sub.href}" title="{if isset($sub.desc)}{$sub.desc|escape}{else}{$sub.label|escape}{/if}" {if isset($sub.active) and $sub.active}class="active"{/if}>{$sub.label|escape|truncate:29:false}</a>
					</li>
				{/foreach}
				<li class="item last bcl02"> </li>
			</ul>
			{/if}
		</li>
{/foreach}
	</ul>
</div>

<div id="to-top" style="display:none" onclick="Todoyu.Ui.scrollToTop()">
	<h1>
		<span class="label">Top</span>
		<span class="arrow"></span>
	</h1>
</div>