<form id="panelwidget-{$id}-form">
	<label for="panelwidget-{$id}-searchword">{Label text='core.global.search'}</label>
	<input type="text" id="panelwidget-{$id}-searchword" value="{$searchWord|escape}" />
	<a class="icon clearIcon hidden" id="panelwidget-{$id}-clear"></a>
</form>
<script type="text/javascript">
{$jsInit}
</script>