<ul id="{$name}-tabs" class="tabs {$class}" >
	{foreach $tabs as $tab}
		{include "core/view/tabhead.tmpl"}
	{/foreach}
</ul>
<script type="text/javascript">
Todoyu.Tabs.create('{$name}', {$jsHandler});
</script>