<div class="timerange" id="{$id}">
	<div class="limits">
		<div class="limit min">{$range.start|date_format:$DF.date}</div>
		<div class="limit max">{$range.end|date_format:$DF.date}</div>
		<div class="clear"></div>
	</div>
	<div class="bar">
		<div class="track trackStart"></div><div class="track slider" id="{$id}-slider">
			<div class="handle handleStart" id="{$id}-handle-start"></div>
			<div class="handle handleEnd" id="{$id}-handle-end"></div>
			<div class="span" id="{$id}-span"></div>
		</div><div class="track trackEnd"></div>
	</div>
	<div class="dates">
		<div class="start">
			<input type="text" id="{$id}-start" name="{$name}[start]" />
			<div class="icon link calendaricon" id="{$id}-start-calicon" title="{Label text='core.form.dateselector.open'}"></div>
		</div>
		<div class="ranges">
			<span class="chooseRange">{Label text='core.form.daterange.choose'}</span>
			<ul>
				<li class="monthToDate">{Label text='core.form.daterange.monthToDate'}</li>
				<li class="quarterToDate">{Label text='core.form.daterange.quarterToDate'}</li>
				<li class="yearToDate">{Label text='core.form.daterange.yearToDate'}</li>
				<li class="previousMonth">{Label text='core.form.daterange.previousMonth'}</li>
				<li class="previousQuarter">{Label text='core.form.daterange.previousQuarter'}</li>
				<li class="previousYear">{Label text='core.form.daterange.previousYear'}</li>
				<li class="fullTimeRange">{Label text='core.form.daterange.fullTimeRange'}</li>
			</ul>
			<span class="rgt"></span>
		</div>
		<div class="end">
			<input type="text" id="{$id}-end" name="{$name}[end]" />
			<div class="icon link calendaricon" id="{$id}-end-calicon" title="{Label text='core.form.dateselector.open'}"></div>
		</div>
	</div>
	<input type="text" id="{$id}-focus" style="opacity:0;visibility:hidden;width:1px;height:1px" />
</div>

<script type="text/javascript">
Todoyu.R['dateFormat'] = '{Label text='core.dateformat.date'}';
</script>