<div class="resultinfo error">
	<div class="title">{Label text='sysmanager.repository.error.connectionFailed'}</div>
	<div class="message">{$message}</div>
	<div class="info">{Label text='sysmanager.repository.error.connectionFailed.info'}</div>
</div>