<div class="resultinfo error">
	<div class="title">{Label text='sysmanager.repository.error.general'}</div>
	<div class="message">{$message}</div>
	<div class="info">{Label text='sysmanager.repository.error.general.info'}</div>
</div>