<div class="repositoryUpdates">

	{***************** Core Update *********************}

	{if $updates.core}
		{$coreUpdate = $updates.core}
		<div class="coreUpdate">
			{Title text="sysmanager.repository.core.newUpdateAvailable"}
			<table class="coreUpdateInfos">
				<tr>
					<th>{Label text='sysmanager.repository.update.newversion'}</th>
					<td>{$coreUpdate.version}</td>
				</tr>
				<tr>
					<th>{Label text='sysmanager.repository.update.yourversion'}</th>
					<td>{$smarty.const.TODOYU_VERSION}</td>
				</tr>
				<tr>
					<th>{Label text='sysmanager.repository.update.releasedate'}</th>
					<td>{$coreUpdate.date_update|date_format:$DF.date}</td>
				</tr>
			</table>
			<div class="installButtons">
				{* Button class="info" label="sysmanager.repository.extension.moreDetails" *}
				{Button class="update" label="sysmanager.repository.core.installUpdate" onclick="Todoyu.Ext.sysmanager.Repository.Update.showCoreUpdateDialog()"}
			</div>
			<div class="clear"></div>
		</div>
	{/if}


	{***************** Extension Updates *********************}

	<div class="extensionUpdates extListing">
		{Title text="sysmanager.repository.extension.extensionUpdates"}

		{foreach $updates.extensions as $extUpdate}
			<div class="extension" id="repository-update-ext-{$extUpdate.ext_key}">

				<div class="main">
					<h5>
						<img src="{$extUpdate.icon}" border="0" />
						<div class="title">{$extUpdate.title} {$extUpdate.version.version}</div>
						<div class="author">{Label text='sysmanager.repository.by'} {$extUpdate.author.name}</div>
					</h5>
					<div class="description">{$extUpdate.version.version_information}</div>

					{if $extUpdate.version.dependencies}
						<div class="warning dependency">
							<p>{Label text='sysmanager.error.unresolvedDependencies'}</p>
							<ul>
								{foreach $extUpdate.version.dependencies as $dependency}
									<li id="{$extUpdate.ext_key}-dependency-{$dependency.ext_key}">{$dependency.title_short} {$dependency.version} ({$dependency.ext_key})</li>
								{/foreach}
							</ul>
						</div>
					{/if}
					{if $extUpdate.version.conflicts}
						<div class="warning conflicts">
							<p>{Label text='sysmanager.error.unresolvedConflicts'}</p>
							<ul>
								{foreach $extUpdate.version.conflicts as $conflict}
									<li id="{$extUpdate.ext_key}-conflict-{$conflict.ext_key}">{$conflict.title_short} ({$conflict.ext_key})</li>
								{/foreach}
							</ul>
						</div>
					{/if}

				</div>

				<div class="right">
					<div class="installed">{Label text='sysmanager.repository.extension.installed'}: {$extUpdate.installed}</div>
					<div class="version">{Label text='sysmanager.repository.update.newversion'} {$extUpdate.version.version}</div>
					<div class="state">{Label text='sysmanager.extension.state'}: {ExtensionStatusIcon state=$extension.version.state}</div>
					<div class="date">{Label text='sysmanager.repository.update.releasedate'}: {$extUpdate.version.date_update|date_format:$DF.date}</div>
				</div>

				<div class="bottom">
					{$hasDependencies = sizeof($extUpdate.version.dependencies)}
					{$hasConflicts = sizeof($extUpdate.version.conflicts)}
					{$preventInstall = $hasDependencies+$hasConflicts}
					{Button disabled=$preventInstall class="update" label="sysmanager.repository.extension.update" onclick="Todoyu.Ext.sysmanager.Repository.Update.showExtensionUpdateDialog('$extUpdate.ext_key')"}
					{Button label="sysmanager.repository.moreInfo" class="info" onclick="Todoyu.Ext.sysmanager.Repository.showExtensionInTER('$extUpdate.ter_link')"}
				</div>

				<div class="clear"></div>
			</div>
		{else}
			<p>{Label text='sysmanager.repository.update.noupdatesavailable'}</p>
		{/foreach}

		<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">
Todoyu.Ext.sysmanager.Repository.Update.init();
</script>