{if fn_isAllowedEventReminderPopup($event.id)}
	<div>
		<strong>{Label text='calendar.reminder.email'}:</strong>	{$event.reminders.mail}
	</div>
{/if}
{if fn_isAllowedEventReminderPopup($event.id)}
	<div>
		<strong>{Label text='calendar.reminder.popup'}:</strong> {$event.reminders.popup}
	</div>
{/if}