{if !empty($holidays) && sizeof($holidays) > 0}
	<span class="icon"></span>
	<span class="label">{Label text='calendar.event.warning.holidayInRange'}</span>

	<ul class="holidayList">
		{foreach from=$holidays key=holiday}
			<li>{$holiday.date|date_format:$DF.date}: {$holiday.title}</li>
		{/foreach}
	</ul>
{/if}