{Label text='calendar.event.error.personsOverbooked'}<br />
<ul class="invalidItems">
	{foreach $overbooked as $overbookedInfo}
		<li>
			{personLabel id=$overbookedInfo.person}
			<ul>
				{foreach $overbookedInfo.events as $event}
					<li>{$event.date_start|date_format:$DF.D2M2Y2}, {$event.date_start|date_format:$DF.time} - {if date('Ymd', $event.date_start)!==date('Ymd', $event.date_end)}{$event.date_end|date_format:$DF.D2M2Y2}, {/if}{$event.date_end|date_format:$DF.time}: {$event.title}</li>
				{/foreach}
			</ul>
		</li>

	{/foreach}
</ul>