<fieldset id="{$htmlId}" class="{$name}{if isset($class)} {$class}{/if}">
{if isset($legend)}
	<legend id="{$htmlId}-legend">{Label text=$legend}</legend>
{/if}
	{if isset($content)}{$content}{/if}
</fieldset>
<div class="fieldset-clear" id="fieldset-clear-{$name}"> </div>