{extends "core/view/form/FormElement.tmpl"}

{block name="field"}
<input type="{$type}" name="{$htmlName}" id="{$htmlId}" value="{$valueTemplate|escape}" class="{if isset($inputClass)}{$inputClass}{/if} {if isset($class)}{$class}{/if}" {if isset($disabled) && $disabled}disabled="disabled"{/if} {if isset($extraAttributes)}{$extraAttributes}{/if} /> <div class="durationPickerIcon icon" onclick='Todoyu.Ui.showDurationPicker("{$htmlId}", {$jsConfig})'></div>
{/block}