{extends "core/view/form/FormElement.tmpl"}

{block name="field"}

<button class="button {$inputClass} {$class}" type="{$type|default:button}" id="{$htmlId}" {if isset($disable) && $disable}disabled="disabled"{/if} {if isset($onclick)}onclick="{$onclick}{if isset($disable) && $disable};this.onclick=''{/if};this.blur()"{/if} title="{if isset($title)}{Label text=$title}{else}{Label text=$text}{/if}">
	{if ! $noIcon}
		<span class="icon"></span>
	{/if}
	<span class="label">{Label text=$text}</span>
</button>

{/block}