{extends "core/view/form/FormElement.tmpl"}

{block name="field"}
<textarea name="{$htmlName}" id="{$htmlId}" {if isset($cols)}cols="{$cols}"{/if} {if isset($rows)}rows="{$rows}"{/if} class="{if isset($inputClass)}{$inputClass}{/if} {if isset($class)}{$class}{/if}">{$valueTemplate|strip_tags:true|escape}</textarea>
<script type="text/javascript">
{$rteJs}
</script>
{/block}