{extends "core/view/form/FormElement.tmpl"}

{block name="field"}
	{foreach $options as $option}
		<input class="{$inputClass} {$class}" type="radio" name="{$htmlName}" id="{$htmlId}-{$option.value}" value="{$option.value|escape}"{if $option.value == $value} checked="checked"{/if}{if $option.disabled} disabled="disabled"{/if} {$extraAttributes} />
		<label class="{$class}" for="{$htmlId}-{$option.value}">{Label text=$option.label}</label>
	{/foreach}
{/block}