<div id="taskList" class="projectTaskList">
	<div id="projects">
		<div id="project-0">

			<div class="noProjectSelected">
				<p class="message">
					{Label text='project.ext.noproject.message.description'}
					{if fn_allowed('project','project:add')}
						<a href="javascript:void(0)" onclick="Todoyu.Ext.project.openProjectPopup()">{Label text='project.ext.noproject.message.createproject'}</a>
					{else}
						{Label text='project.ext.noproject.message.informcontact'}
					{/if}
				</p>
			</div>

		</div>
	</div>
</div>