<div id="project-{$idProject}" class="project status{$statusKey|ucfirst} projecttasktree">
	{$header}
	<div id="project-{$idProject}-tasks" class="tasks taskTree">
		{$tasktree}

		{if isset($losttasks)}{$losttasks}{/if}
	</div>
</div>