<table class="list fixedTable personListing assignedPersons">
	<tr class="listItem listItemHeader">
		<th class="name">{Label text='contact.ext.person'}</th>
		<th class="company">{Label text='contact.ext.company'}</th>
		<th class="role">{Label text='project.ext.attr.persons.role'}</th>
	</tr>
	{foreach $persons as $person}
	<tr class="listItem {cycle values="odd,even"} person">
		<td class="name">
			<span class="icon"></span>
			{personLabel prefix="project_assigned" idRecord=$person.id_project id=$person.id class="name"}
		</td>
		<td class="company">{$person.company[0].title}&nbsp;</td>
		<td class="role">{Label text=$person.rolelabel}</td>
	</tr>
	{/foreach}	
</table>