<div id="task-{$task.id}" class="task status{$task.statuskey|ucfirst} {if isset($task.class)}{$task.class}{/if} bcStatus{$task.status}">
	{include "ext/project/view/task-listing-header.tmpl"}
	{if isset($details)}{$details}{/if}
</div>