<div id="task-{$task.id}" class="task {$task.class} bcStatus{$task.status} {if isset($isExpanded) && $isExpanded}expanded{/if}">
	{include file="ext/project/view/task-header.tmpl"}
	{if isset($details)}{$details}{/if}
	{if isset($subtasks)}{$subtasks}{/if}
</div>