<h3 id="task-{$task.id}-header" class="contextmenutask bcStatus{$task.status} taskHeader">
	<span class="statusColor bcStatus{$task.status}"></span>

	<span class="dndHandle {if $task.isDraggable}draggable{/if}"></span>
	<span id="task-{$task.id}-subtasks-trigger" onclick="Todoyu.Ext.project.TaskTree.toggleSubTasks({$task.id})" class="subtaskTrigger {if $hasSubtasks}expandable{/if} {if $areSubtasksVisible}expanded{/if}"></span>
	<span class="headLabel" {if isset($task.fulltitle)}title="{$task.fulltitle|escape}"{/if} onclick="Todoyu.Ext.project.Task.toggleDetails({$task.id})">
		<span class="taskDate date" title="{$task.date_start|date_format:$DF.D2M2Y2} - {if $task.type === $smarty.const.TASK_TYPE_TASK && $task.date_end > 0}{$task.date_end|date_format:$DF.D2M2Y2}{else}{$task.date_deadline|date_format:$DF.D2M2Y2}{/if}">
			{if !$task.is_container && $task.date_end > 0}
				{$task.date_end|date_format:$DF.D2M2Y2}
			{else}
				{$task.date_deadline|date_format:$DF.D2M2Y2}
			{/if}
			&nbsp;
		</span>
		<span class="projectName" title="{if $task.is_container}{Label text='project.task.container'}{else}{Label text='project.task.task'}{/if}: {$task.title|escape}">
			{$task.title|escape}
		</span>
	</span>

	<span class="taskHeadExtras">
		{foreach $taskHeaderExtras as $headerExtra}
			<span id="task-{$task.id}-headerextra-{$headerExtra.key}" class="{$headerExtra.key}" {if isset($headerExtra.title)}title="{$headerExtra.title|escape}"{/if}>
				{$headerExtra.content}
			</span>
		{/foreach}
	</span>

	<span class="taskNumber" title="ID: {$task.id}">
		<span class="taskNumberProject">{$task.id_project}</span>.<span class="taskNumberTask">{$task.tasknumber}</span>
	</span>

	<span class="taskIcons{if !empty($taskIcons) && sizeof($taskIcons) > 4} taskIconsOverflow{/if}">
		{foreach $taskIcons as $taskIcon}
			<span id="{$taskIcon.id}" class="{$taskIcon.class}" title="{Label text=$taskIcon.label}" {if $taskIcon.onclick}onclick="{$taskIcon.onclick}"{/if}></span>
		{/foreach}
	</span>
</h3>