<h1 class="headerLine searchControls">

	<span class="filters">
		<select id="filtercontrol-conditions" name="conditions">
			<option value="none" class="default">{Label text='search.ext.filtercontrol.add.condition'}</option>
			{foreach $groupedConditionOptions as $groupLabel=>$groupConditionOptions}
				<optgroup label="{Label text=$groupLabel}">
					{foreach $groupConditionOptions as $key=>$conditionOption}
						<option value="{$type}_{$key}">{Label text=$conditionOption.label}</option>
					{/foreach}
				</optgroup>
			{/foreach}
		</select>
	</span>

	<span class="conjunction">
		{select options=$conjunctionOptions value=$conjunction size=1 noPleaseSelect=true id="filtercontrol-conjunction" name="conjunction"}
	</span>

	{if !empty($groupedSortingOptions) && sizeof($groupedSortingOptions) > 0}
		<span class="sorting">
			<select id="filtercontrol-sorting" name="sorting">
				<option value="none" class="default">{Label text='search.ext.filtercontrol.add.sorting'}</option>
				{foreach $groupedSortingOptions as $groupLabel=>$groupSortingOptions}
					<optgroup label="{Label text=$groupLabel}">
						{foreach $groupSortingOptions as $sortingOption}
							<option value="{$sortingOption.value}">{Label text=$sortingOption.label}</option>
						{/foreach}
					</optgroup>
				{/foreach}
			</select>
		</span>
	{/if}

</h1>