<div class="panelwidgetContent">

	<ul id="filterset-list" class="sortablePanelList">
	{foreach $groupedFiltersets as $groupKey=>$filtersets}
		<li class="listItem groupTitle groupName{$groupKey|ucfirst}">{$filtersets.label}</li>
		<li class="itemList">
			<ul id="panelwidget-searchfilterlist-list-{$groupKey}" class="sortable" {if $toggleStatus[$groupKey] == 1}style="display:none"{/if}>

			{foreach $filtersets.filtersets as $index=>$filterset}
				<li id="filterset_{$filterset.id}" class="listItem {cycle values='odd,even'} {if $filterset.is_separator == 1}separator{/if} {if in_array($filterset.id, $activeFiltersets)}current{/if}{if $filterset.is_hidden == 1} invisible{/if}">
					<div id="filterset-{$filterset.id}-handle" class="handle"></div>
					{if $filterset.is_separator == 0}
						<a id="filterset-{$filterset.id}-label" class="title" onclick="Todoyu.Ext.search.PanelWidget.SearchFilterList.showFilterset('{$groupKey}', {$filterset.id})" href="javascript:void(0)" title="{$filterset.title|escape}">
							{$filterset.title|escape}
						</a>
					{else}
						<span id="filterset-{$filterset.id}-label" title="{$filterset.title|escape}" class="title">{$filterset.title|escape}</span>
					{/if}
					<span class="actions">
						<a id="filterset-{$filterset.id}-control-rename" onclick="Todoyu.Ext.search.PanelWidget.SearchFilterList.renameFilterset({$filterset.id})" class="rename" title="{Label text='core.global.rename'}" href="javascript:void(0)">
							{Label text='core.global.rename'}
						</a>
						<a id="filterset-{$filterset.id}-control-visibility" onclick="Todoyu.Ext.search.PanelWidget.SearchFilterList.hideFilterset({$filterset.id})" href="javascript:void(0)" class="visibility {if $filterset.is_hidden == 1}invisible{/if}" title="{if $filterset.is_hidden == 0}{Label text='core.global.hide'}{else}{Label text='core.global.unhide'}{/if}">
							{if $filterset.is_hidden == 0}{Label text='search.panelwidget-searchfilterlist.hide'}{else}{Label text='core.global.unhide'}{/if}
						</a>
						{if $filterset.is_separator == 0}
							<a id="filterset-{$filterset.id}-control-save" onclick="Todoyu.Ext.search.PanelWidget.SearchFilterList.saveFilterset({$filterset.id}, '{$groupKey}')" class="save" title="{Label text='core.global.save'}" href="javascript:void(0)">
								{Label text='core.global.save'}
							</a>
						{/if}
						<a id="filterset-{$filterset.id}-control-delete" onclick="Todoyu.Ext.search.PanelWidget.SearchFilterList.deleteFilterset({$filterset.id})" class="delete" title="{Label text='core.global.delete'}" href="javascript:void(0)">
							{Label text='core.global.delete'}
						</a>
					</span>
				</li>
			{/foreach}

			</ul>
		</li>
	{/foreach}
	</ul>

	{Button label="search.panelwidget-searchfilterlist.addSeparator" class="addseparator" onclick="Todoyu.Ext.search.PanelWidget.SearchFilterList.saveNewSeparator()"}

</div>