<ul class="quicksearch-suggest">

{foreach $type as $resultType}
	<li>
		<span class="type type{$type|ucfirst}">{$resultType.label|escape}</span>
		<ul>
		{foreach $resultType.results as $result}
			<li>
				<a href="javascript:void(0)" onclick="{$result.onclick}" title="{$result.title|escape}">
					<span class="title">{$result.labelTitle}</span>
					<span class="info">{$result.labelInfo}</span>
				</a>
			</li>
		{foreachelse}
			<li>
				<a href="javascript:void(0)" title="{Label text='LLL:search.ext.search.noEntryFound'}">
					<span class="title"></span>
					<span class="info">{Label text='LLL:search.ext.search.noEntryFound'}</span>
				</a>
			</li>
		{/foreach}
		</ul>
	</li>
{/foreach}
</ul>