<p class="instructiontext">
	{Label text=$instructionText}
</p>

{Button label=$buttonText onclick="Todoyu.Ext.contact.PanelWidget.ContactExport.exportResults()" class="exportCsv $contactType" id="export-$contactType"}