<ul id="panelwidget-{$id}-list">
	{foreach $projects as $project}
		<li id="panelwidget-{$id}-project-{$project.id}" class="bcStatus{$project.status}">
			<a href="javascript:void(0)" title="ID: {$project.id}">
				{if $project.companyShort}{$project.companyShort|escape}{else}{$project.company|escape}{/if} - {$project.title|escape}
			</a>
		</li>
	{foreachelse}
		{Label text='project.panelwidget-projectlist.list.empty'}
	{/foreach}
</ul>