<div id="contact-details" class="company">
	<h1 class="headerLine">
		<span class="title first">{$title}</span>
	</h1>

	<div class="infoBoxOuter">
		{* ------------ Main company data (name, primary email, image, etc.) ------------ *}
		<div class="infoBox main-company-data">
			<h4>{Label text='LLL:contact.ext.company.maincompanydata'}</h4>
			<div class="content overflow">
				<div class="left image">{companyImage id=$id}</div>
				<p>
					<h1>{$title}</h1>
				</p>
			</div>
		</div>
	
		{* ------------ Dynamic contact info types (emails, phone numbers, etc.) ------------ *}
		{if $contactinfo}
			<div class="infoBox contact-info">
				<h4>{Label text='LLL:contact.ext.contactinfo'}</h4>
				<div class="content overflow">
					<table class="list autoWidthTable">
						{foreach $contactinfo as $numCi=>$ciData}
							{if fn_isContactinfotypeSeeAllowed('company', $id, $ciData.id_contactinfotype)}
								<tr>
									<th>{labelContactinfotype idContactinfotype=$ciData.id_contactinfotype}:</th>
									<td>
										{renderContactInfoType contactInfoData=$ciData}
									</td>
								</tr>
							{/if}
						{/foreach}
					</table>
				</div>
			</div>
		{/if}
		
		{* ------------ Addresses ------------ *}
		{foreach $address as $numAddr=>$addressType}
			{if fn_isAddressTypeSeeAllowed('company', $id, $addressType.id_addresstype)}
				<div class="infoBox addressPart">
					<h4>{addressType idAddressType=$addressType.id_addresstype}</h4>
					<div class="content overflow address">
						{if strlen($addressType.street) > 0}
							{$addressType.street|nl2br}<br />
						{/if}

						{if strlen($addressType.postbox)>0}
							{Label text='contact.ext.address.attr.postbox'}: {$addressType.postbox|wordwrap:30:"\n":true|escape}<br />
						{/if}

						{if strlen($addressType.zip)>0 || strlen($addressType.city)>0}
							{$addressType.zip} {$addressType.city}<br/>
						{/if}
						{countryName id=$addressType.id_country}



						{if strlen($addressType.comment) > 0}
							<br />
							<br />
							{$addressType.comment|nl2br}
						{/if}
					</div>
				</div>
			{/if}
		{/foreach}



		{* ------------ Company employees with job type and work address ------------ *}
		{if count($person) > 0}
			<div class="infoBox employeePart">
				<h4>{Label text='LLL:contact.ext.company.attr.person'}</h4>
				{List ext=contact list=employee noPaging=true params=array(idCompany=$id)}
				<br/><br/>
			</div>
		{/if}


		{* ------------ Projects ------------ *}
		{include file="ext/contact/view/detail-project-part.tmpl" header="LLL:contact.ext.company.details.projectPartHeader"}



		{* ------------ Additional infos (date of entry) ------------ *}

		<div class="infoBox others">
			<h4>{Label text='LLL:contact.ext.other'}</h4>
			<div class="content overflow address">
				<table class="list autoWidthTable">
					{if $date_enter > 0 && fn_isInternal()}
						<tr>
							<th>{Label text='LLL:contact.ext.company.attr.date_enter'}:</th>
							<td>$date_enterdate_create|date_format:$DF.date}</td>
						</tr>
					{/if}
                    {restrict ext="contact" right="company:seeComment"}
						<tr>
							<th>{Label text='LLL:contact.ext.company.attr.comment'}:</th>
							<td>{$comment|default:"-"}</td>
						</tr>
					{/restrict}
				</table>
			</div>
		</div>



		{* ------------ Hooked content ------------ *}
		{$hookedContent}
	
		{* ------------ Actions panel (edit, delete, close) ------------ *}
		<div class="actions">
			{if $smarty.const.AREA == $smarty.const.EXTID_CONTACT}
				{if fn_isCompanyEditAllowed($id)}
					{Button label='contact.ext.company.edit' onclick='Todoyu.Ext.contact.Company.edit($id)' class='buttonCompanyEdit' id='company-edit' title='LLL:contact.ext.company.edit'}
				{/if}
				{if fn_isCompanyDeleteAllowed($id)}
					{Button label='contact.ext.company.delete' onclick='Todoyu.Ext.contact.Company.remove($id)' class='buttonCompanyDelete' id='company-delete' title='LLL:contact.ext.company.delete'}
				{/if}
			{/if}

			{Button label='contact.ext.backToList' onclick='Todoyu.Ext.contact.Company.closeDetailView()' class='backToList' id='company-backtolist' title='LLL:contact.ext.backToList'}
		</div>
		<div class="clear"></div>

	</div>
</div>