{if !empty($records) && sizeof($records) > 0}
	<span class="icon"></span>
	<span class="label">{Label text='contact.form.warning.duplicatedEntries'}:</span>

	<ul class="duplicatedList">
		{foreach $records as $record}
			<li>{$record.title}</li>
		{/foreach}
	</ul>
{/if}