<div class="visitingCardContent">
	<table class="listsimple">
		<tr class="even">
			<td class="label">{Label text='contact.ext.person.attr.salutation'}:</td>
			<td>{salutationLabel idPerson=$salutation}</td>
		</tr>
		{if !empty($title)}
			<tr class="even">
				<td class="label">{Label text='contact.ext.person.attr.title'}:</td>
				<td>{$title|escape}</td>
			</tr>
		{/if}
		<tr class="odd">
			<td class="label">{Label text='contact.ext.person.attr.firstname'}:</td>
			<td width="90%">{$firstname|wordwrap:30:"\n":true|escape}</td>
		</tr>
		<tr class="even">
			<td class="label">{Label text='contact.ext.person.attr.lastname'}:</td>
			<td>{$lastname|wordwrap:30:"\n":true|escape}</td>
		</tr>
		{if strlen($shortname) > 0}
			<tr class="odd">
				<td class="label">{Label text='contact.ext.company.attr.shortname'}:</td>
				<td>{$shortname|escape}</td>
			</tr>
		{/if}
		<tr class="even"><td colspan="2"><br /></td></tr>
		{if $birthday != '0000-00-00'}
			<tr class="odd">
				<td class="label">{Label text='contact.ext.person.attr.birthdate'}:</td>
				<td>{$birthday|date_format:$DF.D2M2Y4}</td>
			</tr>
		{/if}
		<tr class="even">
			<td colspan="2"><br /></td>
		</tr>
		<tr class="odd">
			<td class="label">{Label text='contact.ext.person.attr.company'}:</td>
			<td>
				{$company[0][title]|wordwrap:30:"\n":true|escape}<br /><br/>
				{foreach $companyData[$company[0][id]] as $companyAddress}
					{$companyAddress.street|wordwrap:30:"\n":true|escape}<br />
					{$companyAddress.zip|wordwrap:30:"\n":true|escape} {$companyAddressData.city|wordwrap:30:"\n":true|escape}<br />
					{$companyAddress.label_country|wordwrap:30:"\n":true|escape}<br />

					{if strlen($companyAddress.postbox)>0}
						{Label text='contact.ext.postbox'}: {$companyAddress.postbox|wordwrap:30:"\n":true|escape}<br />
					{/if}
					<br />
				{/foreach}
			</td>
		</tr>
		<tr class="even"><td colspan="2"><br /></td></tr>
		<tr class="odd">
			<td class="label">{Label text='contact.ext.person.attr.email'}:</td>
			<td>
			{if $email !== ''}
				<a href="mailto:{$email}">{$email|wordwrap:30:"\n":true|escape}</a><br />
			{/if}
			{foreach $contactinfo as $numCi=>$ciData}
				{if strstr($ciData.info, '@') !== false}
					<a href="mailto:{$ciData.info}">{$ciData.info|wordwrap:30:"\n":true|escape}</a><br />
				{/if}
			{/foreach}
			</td>
		</tr>
		{if strlen($address[0][street])>0 || strlen($address[0][city])>0}
			<tr class="even">
				<td colspan="2"><br /></td>
			</tr>
			<tr class="odd">
				<td class="label">{Label text='contact.ext.address'}:</td>
				<td>
					{$address[0][street]|wordwrap:30:"\n":true|escape}<br />
					{$address[0][zip]|truncate:8} {$address[0][city]|wordwrap:30:"\n":true|escape}<br />
					{countryName id=$address[0][id_country]}<br />
					{if strlen($address[0][postbox])>0}
						{Label text='contact.ext.address.attr.postbox'}: {$address[0][postbox]|wordwrap:30:"\n":true|escape}
					{/if}
				</td>
			</tr>
		{/if}
		<tr class="even"><td colspan="2"><br /></td></tr>
		{foreach $contactinfo as $numCi=>$ciData}
			<tr class="{cycle values="even,odd"}">
				<td class="label">{labelContactinfotype idContactinfotype=$ciData.id_contactinfotype}:</td>
				<td>{$ciData.info|wordwrap:30:"\n":true|escape}</td>
			</tr>
		{/foreach}
	</table>
</div>