<div class="visitingCardContent">
	<table>
		<tr class="odd">
			<td class="label">{Label text='contact.ext.company.attr.title'}:</td>
			<td width="70%" colspan="3">{$title|escape}</td>
		</tr>
		{if strlen($shortname) > 0}
			<tr class="odd">
				<td class="label">{Label text='contact.ext.company.attr.shortname'}:</td>
				<td colspan="3">{$shortname|escape}</td>
			</tr>
		{/if}
		<tr class="even"><td colspan="4"><br /></td></tr>
		{if $date_enter != 0}
			<tr>
				<td class="label">{Label text='contact.ext.company.attr.date_enter'}:</td>
				<td colspan="3">{$date_enter|date_format:$DF.date}</td>
			</tr>
		{/if}

		<tr>
			<td colspan="4">
				&nbsp;
			</td>
		</tr>

		{* Contact infos *}
		{foreach $contactinfo as $key=>$contactinfoData}
			<tr>
				{if $contactinfoData@first}
					<td class="label">{Label text='contact.ext.contactinfo'}</td>
				{else}
					<td class="label">&nbsp;</td>
				{/if}
				<td>
					{labelContactinfotype idContactinfotype=$contactinfoData.id_contactinfotype}
				</td>
				<td colspan="2">
				 	{$contactinfoData.info|escape}
				</td>
			</tr>
		{/foreach}

		<tr>
			<td colspan="4">
				&nbsp;
			</td>
		</tr>

		{foreach $address as $key=>$addressData}
			<tr>
				{if $addressData@first}
					<td class="label">{Label text='contact.ext.address'}</td>
				{else}
					<td class="label"></td>
				{/if}
				<td colspan="3">
					{fn_htmlencode($addressData.street)|nl2br}<br />
					{if $addressData.postbox} {Label text='contact.ext.address.attr.postbox'}: {$addressData.postbox|escape}<br />{/if}
					{$addressData.zip|escape} {$addressData.city|escape}<br />
					{if $addressData.region}{$addressData.region|escape}{/if}
					{if $addressData.id_country} {countryName id=$addressData.id_country}<br />{/if}
					<br />
					{if $addressData.comment}
						<p>
							{$addressData.comment|escape}
						</p>
					{/if}
				<td>
			</tr>
		{/foreach}

		{if $persons}
			<tr>
				<td colspan="4">
					&nbsp;
				</td>
			</tr>
		{/if}

		{foreach $persons as $key=>$personData}
			<tr>
				{if $personData@first}
					<td class="label">{Label text='contact.ext.company.attr.user'}</td>
				{else}
					<td class="label"></td>
				{/if}
				<td>
					{$personData.lastname|escape}</td>
				<td>
				 	{$personData.firstname|escape}
				</td>
				<td>
					{$personData.email|escape}
				</td>
			</tr>
		{/foreach}

	</table>
</div>