{if fn_isAddressTypeSeeAllowed('company', $id, $address.id_addresstype)}
	<div class="infoBox addressPart">
		<h4>{addressType idAddressType=$address.id_addresstype}</h4>
		<div class="content overflow address">
			{if strlen($address.street) > 0}
				{$address.street|nl2br}<br />
			{/if}

			{if strlen($address.postbox)>0}
				{Label text='contact.ext.address.attr.postbox'}: {$address.postbox|wordwrap:30:"\n":true|escape}<br />
			{/if}

			{if strlen($address.zip)>0 || strlen($address.city)>0}
				{$address.zip} {$address.city}<br/>
			{/if}
			{countryName id=$address.id_country}



			{if strlen($address.comment) > 0}
				<br />
				<br />
				{$address.comment|nl2br}
			{/if}
		</div>
	</div>
{/if}
