{* ----------------- Role selector ----------------- *}
<table class="roles">
	{foreach $roles as $key=>$role}
		<tr>
			<td class="name enumColBG{$role@iteration % $amountColors}">
				<a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.RightsEditor.toggleRoleRights({$role.id})">{$role.title}</a>
			</td>
			{for $gA=1 to $role@total-$role@index-1}
				<td class="enumColBG{$role@iteration % $amountColors}">&nbsp;</td>
			{/for}
			{if $role@iteration > 1 }
				{for $gA=1 to $role@iteration-1}
					<td class="enumColBG{$role@iteration-$gA % $amountColors}">&nbsp;</td>
				{/for}
			{/if}
		</tr>
	{/foreach}
</table>

{* ----------------- Rights matrix ----------------- *}
<form id="rightsmatix-form" action="index.php?ext=sysmanager&amp;controller=rights" method="post">
	{foreach $rights as $sectionName=>$section}
		<fieldset>
		<legend>{$section.label}</legend>
		<table class="sectionrights"><tbody>
		{foreach $section.rights as $right}
			<tr class="right" id="right-{$sectionName}-{$right.right}">
				<td class="label">
					<a href="javascript:void(0)" onclick="Todoyu.Ext.sysmanager.RightsEditor.toggleRight('{$sectionName}:{$right.right}')" title="[{$sectionName}:{$right.right}] {$right.comment}">{$right.label}</a>
					{if !empty($right.require) && sizeof($right.require) > 0 }{rightLabel $extension $sectionName $right.right}{/if}
				</td>
				{foreach $roles|reverse_array as $key=>$role}
					<td class="enumColBG{$role@total-$role@index % $amountColors} roleRight">
						<input type="checkbox" id="{$sectionName}-{$right.right}-{$role.id}" name="rights[{$sectionName}:{$right.right}][{$role.id}]" value="1" {if $activeRights[$right.full][$role.id]}checked="checked"{/if} />
					</td>
				{/foreach}
			</tr>
		{/foreach}
		</tbody></table>
			</fieldset>
	{/foreach}
	<input type="hidden" name="extension" value="{$extension}" />

	{if empty($rights)}{contentMessage label='sysmanager.ext.rights.notAvailable'}{/if}

</form>

<script type="text/javascript">
	Todoyu.Ext.sysmanager.RightsEditor.initMatrix({json_encode($required)});
</script>