{Label text='loginpage.ext.mail.passwordreset.title'}

========================================================================
{Label text='loginpage.ext.mail.passwordreset.text'}
========================================================================
{Label text='loginpage.ext.mail.tologin'}: <{$loginlink}>
========================================================================
{Label text='loginpage.ext.mail.yourusername'}: {$username}
{Label text='loginpage.ext.mail.yournewpassword'}: {$newPassword}
========================================================================