{Label text='loginpage.ext.forgotpassword.mail.confirmation.title'}

========================================================================
{Label text='loginpage.ext.forgotpassword.mail.confirmation.text'}
========================================================================
{Label text='loginpage.ext.forgotpassword.mail.toconfirmation'}: <{$confirmationlink}>
========================================================================