{extends "core/view/base.tmpl"}

{block name="panel"}
	{$panelWidgets}
{/block}

{block name="contentBody"}
	{Header title="LLL:loginpage.ext.loginbox.title" class="noPadLeft"}
	{$loginForm}

	{$extendedContent}

	{include file="ext/loginpage/view/todoyuinfo.tmpl"}
{/block}