{Header "LLL:panelwidget-checklibs.depencywarning"}

<div class="libsList">
	{Label text='panelwidget-checklibs.missinglibs'}<br /><br />
	{Label text='panelwidget-checklibs.downloadandinstallinstructions'}
{foreach $missingLibs as $libName=>$libData}
	<ul>
		<li>{$libName}<br />
			<a class="link" href="{$libData.downloadURL}" target="_blank">{$libData.downloadURL}</a><br />
			{$libData.instruction}
		</li>
	</ul>
{/foreach}
</div>