<div class="contentdaytrackspwidget">
	<ul class="contextmenudaytrackspwidget ulListDotted withMouseHover">
		{foreach $tasks as $key=>$task}
			<li id="daytracks-track-{$task.id}" class="{cycle values="odd,even"} listItem status-{taskStatusKey idStatus=$task.status} bcStatus{$task.status}{if $task.id == $current} running{/if}{if $task.isDeleted} deleted{/if}" title="{taskStatusLabel idStatus=$task.status}">
				<span class="taskItem bcStatus{$task.status}">

				{if $task.isTrackable || $task.id == $current}
					<a id="daytracks-track-{$task.id}-button" class="icon start {if $task.id == $current}running{/if}" href="javascript:void(0)" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.toggleTimetracking({$task.id});this.onclick=''" title="{if $task.id == $current}{Label text='timetracking.ext.stop'}{else}{Label text='timetracking.ext.start'}{/if}"><!-- button --></a>
				{/if}

				<a id="daytracks-track-{$task.id}-info" class="info" title="{if $task.isDeleted}{Label text='project.task.deletedTasks'}{else}{$task.id_project}.{$task.tasknumber} - {$task.title|escape}{/if}" href="javascript:void(0)" {if $task.seeTask && ! $task.isDeleted}onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.goToTask({$task.id_project}, {$task.id})"{/if}>
					<span class="time" id="daytracks-track-{$task.id}-time">{HourMinSec seconds=$task.time}</span>
					<span class="task">{$task.id_project}.{$task.tasknumber} - {$task.title|truncate:30|escape}</span>
					<span class="company-project"><span class="overflow">{$task.company|escape} - {$task.project|escape}</span></span>
				</a>
				</span>
			</li>
		{/foreach}
	</ul>

	<div id="daytracks-daytotal" class="notification" {if !$total && !$tracking}style="display:none"{/if}>
		<span>{Label text='daytracks.panelwidget-daytracks.totalToday'}:</span>
		<span id="daytracks-daytotal-time">{HourMinSec seconds=$total}</span>
		<span class="totalTasks">({$tasks|@count} {Label text='project.task.tasks'})</span>
	</div>

	{if !$total && !$tracking}
		<div id="daytracks-daytotal-notracks" class="notification">
			<span>{Label text='daytracks.panelwidget-daytracks.totalToday.noTracks'}</span>
		</div>
	{/if}

	<div class="history">
		{Button label="daytracks.panelwidget-daytracks.showHistory" class="trackHistory" onclick="Todoyu.Ext.daytracks.PanelWidget.Daytracks.showHistory()"}
	</div>

	{restrict ext='daytracks' right='daytracks:timeExport'}
		<div class="timeexport">
			{Button label="daytracks.ext.export.title" class="exportCsv" onclick="Todoyu.Ext.daytracks.Export.openExportPopup()" title="LLL:daytracks.ext.export.popup.title"}
		</div>
	{/restrict}

</div>
